<% provide :title, "仓库详情" %>
<% provide :edit_url, edit_repo_path(@repo) %>
<% provide :back_url, repo_index_path %>
<div class="text-center">
  <h2><%= yield(:title) %></h2>

  <%= render 'repo/show_content', object: @repo %>

  <div>
    <% if can? :update, Repo %>
      <%= link_to "编辑", yield(:edit_url), class: "btn btn-primary" %>
    <% end %>
    <%= link_to "返回主页", yield(:back_url), class: "btn btn-primary" %>
  </div>
</div>
