<% provide :title, "用户档案" %>
<% provide :edit_url, edit_user_path(@user) %>
<% provide :back_url, user_index_path %>


<div class="text-center">
  <h2><%= yield(:title) %></h2>

  <%= render 'user/show_content', object: @user %>

  <div>
    <% if can? :update, User %>
      <%= link_to "编辑", yield(:edit_url), class: "btn btn-primary" %>
    <% end %>
    <%= link_to "返回主页", yield(:back_url), class: "btn btn-primary" %>
  </div>
</div>