// Place all the styles related to the purchase_order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.purchase_order_material_info {
  margin-right: auto;
}

.purchase_order_info {
  margin: 5px 0;
  border: solid blue 1px;
  border-radius: 2px;
}

.is_invalid_alert {
  color: red;
}