<!--pc导航栏-->
<nav class="navbar-inverse visible-lg visible-md" role="navigation">
  <div class="row no-gutters">
<!--    <div class="mr-auto">-->
      <%= link_to "顾丰纺织进销存系统", root_url, class: "navbar-brand mr-auto" %>
<!--    </div>-->
<!--    <div id="admin_header_nav" class="ml-auto">-->

      <%= render 'layouts/menu' %>

<!--    </div>-->
  </div>
</nav>


<!--手机端导航栏-->
<!--<div id="mobile-menu" class="mobile-nav visible-xs">-->
<%#= render 'layouts/menu' %>
<!--</div>-->
<!--手机导航栏侧滑-->
<!--<div class="nav-btn visible-xs visible-sm">-->
<!--  <a href="#" class="mobile-nav-taggle" id="mobile-nav-taggle">-->
<!--    <span class="glyphicon glyphicon-align-justify"></span>-->
<!--  </a>-->
<!--</div>-->

